:root {
  --clr-primary: hsl(0, 0%, 0%);
  --clr-accent: var(--clr-white);
  --clr-neutral: hsl(0, 0%, 85%);
  --clr-primary-shade: #1b4133;
  --clr-white: #fff;
  --clr-grey-1: #f6faff;
  --clr-grey-2: #e5eaf1;
  --clr-gradient: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
  --ff-main: "Josefin Sans";
  --ff-secondary: "Alata";
  --fw-light: 300;
  --fw-regular: 400;
  --fs-1: 4.5rem;
  --fs-2: 3rem;
  --fs-3: 2.5rem;
  --fs-4: 2rem;
  --fs-5: 1.5rem;
  --fs-6: 0.9375rem;
  --fs-7: 0.875rem;
  --sp-0: 0;
  --sp-1: 0.5rem;
  --sp-2: 1rem;
  --sp-3: 1.5rem;
  --sp-4: 2rem;
  --sp-5: 2.5rem;
  --sp-6: 3rem;
  --sp-7: 4rem;
  --sp-8: 5rem;
  --ls-0: 0;
  --ls-1: 5px;
  --lh-1: 1;
  --lh-2: 1.65;
  --desktop-container-width: 69.375rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
td,
th,
button {
  font: inherit;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

body {
  font-family: var(--ff-main), sans-serif;
}

.no-scroll {
  overflow: hidden;
}

.flow-content > * + * {
  margin-top: var(--flow-spacer, var(--sp-3));
}

.split {
  display: flex;
}

.split > * {
  width: 100%;
}

.container {
  max-width: var(--desktop-container-width);
  margin-inline: auto;
}

.section {
  --flow-spacer: 96px;
  padding-inline: var(--sp-3);
}
@media (min-width: 75rem) {
  .section {
    --flow-spacer: 160px;
  }
}
@media (min-width: 45rem) {
  .section {
    padding-inline: var(--sp-8);
  }
}

.section--header {
  padding-block-start: var(--sp-5);
  padding-block-end: var(--sp-5);
}
@media (min-width: 45rem) {
  .section--header {
    padding-block-start: var(--sp-7);
    padding-block-end: var(--sp-7);
  }
}

.section--footer {
  background-color: var(--clr-primary);
}

.tp-1 {
  font-size: var(--fs-1);
  line-height: var(--lh-1);
  letter-spacing: var(--ls-0);
  font-weight: var(--fw-light);
}

.tp-2 {
  font-size: var(--fs-2);
  line-height: var(--lh-1);
  letter-spacing: var(--ls-0);
  font-weight: var(--fw-light);
}

.tp-3 {
  font-size: var(--fs-3);
  line-height: var(--lh-1);
  letter-spacing: var(--ls-0);
  font-weight: var(--fw-light);
}
@media (min-width: 45rem) {
  .tp-3 {
    font-size: var(--fs-1);
    line-height: var(--lh-1);
    letter-spacing: var(--ls-0);
    font-weight: var(--fw-light);
  }
}

.tp-4 {
  font-size: var(--fs-4);
  line-height: var(--lh-1);
  letter-spacing: var(--ls-0);
  font-weight: var(--fw-light);
}
@media (min-width: 45rem) {
  .tp-4 {
    font-size: var(--fs-2);
    line-height: var(--lh-1);
    letter-spacing: var(--ls-0);
    font-weight: var(--fw-light);
  }
}

.tp-5 {
  font-size: var(--fs-5);
  line-height: var(--lh-1);
  letter-spacing: var(--ls-0);
  font-weight: var(--fw-light);
}
@media (min-width: 45rem) {
  .tp-5 {
    font-size: var(--fs-6);
    line-height: var(--lh-2);
    letter-spacing: var(--ls-0);
    font-weight: var(--fw-regular);
  }
}
.tp-5--larger-desktop {
  font-size: var(--fs-5);
  line-height: var(--lh-1);
  letter-spacing: var(--ls-0);
  font-weight: var(--fw-light);
}
@media (min-width: 75rem) {
  .tp-5--larger-desktop {
    font-size: var(--fs-4);
    line-height: var(--lh-1);
    letter-spacing: var(--ls-0);
    font-weight: var(--fw-light);
  }
}

.tp-6 {
  font-size: var(--fs-6);
  line-height: var(--lh-2);
  letter-spacing: var(--ls-0);
  font-weight: var(--fw-regular);
}

.tp-7 {
  font-size: var(--fs-7);
  line-height: var(--lh-1);
  letter-spacing: var(--ls-1);
  font-weight: var(--fw-regular);
}

.section--header {
  background-image: url(../../images/mobile/image-hero.jpg);
  background-size: cover;
}
@media (min-width: 45rem) {
  .section--header {
    background-image: url(../../images/desktop/image-hero.jpg);
    background-position: center;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 163px;
}
@media (min-width: 45rem) {
  .nav {
    margin-block-end: 130px;
  }
}

.nav__logo {
  width: 144px;
  height: 24px;
  z-index: 200;
}
@media (min-width: 45rem) {
  .nav__logo {
    width: 192px;
    height: 32px;
  }
}

.nav__links {
  position: fixed;
  padding-inline: var(--sp-3);
  padding-block-start: 200px;
  display: flex;
  flex-direction: column;
  gap: var(--sp-3);
  inset: 0;
  transform: translateX(100%);
  background-color: var(--clr-primary);
  z-index: 100;
  transition: transform 0.3s ease-in;
}
@media (min-width: 45rem) {
  .nav__links {
    position: static;
    transform: translateX(0%);
    background-color: transparent;
    padding: 0;
    flex-direction: row;
  }
}

.nav[data-open=true] .nav__links {
  transform: translateX(0%);
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-white);
}
@media (min-width: 45rem) {
  .link {
    text-transform: capitalize;
    position: relative;
  }
  .link:hover::after {
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: var(--clr-white);
    left: 50%;
    bottom: -8px;
    transform: translateX(-50%);
  }
}

.nav__btn {
  display: block;
  z-index: 200;
}
@media (min-width: 45rem) {
  .nav__btn {
    display: none;
  }
}

.banner {
  color: var(--clr-white);
  border: 1px solid var(--clr-white);
  max-width: 650px;
  padding-block: var(--sp-2);
  padding-inline: var(--sp-3);
  margin-block-end: 227px;
}
@media (min-width: 45rem) {
  .banner {
    padding: var(--sp-5);
    padding-block-end: var(--sp-3);
    margin-block-end: 146px;
  }
}

.btn {
  background: none;
  cursor: pointer;
}

.btn--icon {
  border: none;
}

.btn--outline {
  text-transform: uppercase;
  color: var(--clr-primary);
  border: 1px solid var(--clr-primary);
  padding-block: var(--sp-2);
  padding-inline: var(--sp-5);
  transition: background-color 0.1s ease-out;
}
.btn--outline:hover {
  background-color: var(--clr-primary);
  color: var(--clr-white);
}

.btn--link {
  text-decoration: none;
  display: inline-block;
}

.nav .icon--close {
  display: none;
}
.nav[data-open=true] .icon--close {
  display: block;
}
.nav[data-open=true] .icon--hamburger {
  display: none;
}

.hero {
  display: grid;
  justify-items: center;
  row-gap: var(--sp-6);
}
@media (min-width: 75rem) {
  .hero {
    position: relative;
    grid-template-columns: 65fr 35fr;
  }
}

.hero__info {
  --flow-spacer: var(--sp-2);
  text-align: center;
}
@media (min-width: 45rem) {
  .hero__info {
    --flow-spacer: var(--sp-3);
  }
}
@media (min-width: 75rem) {
  .hero__info {
    text-align: left;
    position: absolute;
    background-color: var(--clr-white);
    width: 50%;
    padding-inline-start: 96px;
    padding-block-start: 96px;
    bottom: 0;
    right: 0;
  }
}

.title {
  text-transform: uppercase;
}

.hero__desc {
  font-family: var(--ff-secondary);
  opacity: 0.5;
}

.gallery {
  --flow-spacer: var(--sp-6);
  text-align: center;
}

.gallery__btn {
  display: none;
  justify-self: center;
}
@media (min-width: 75rem) {
  .gallery__btn {
    display: block;
  }
}
.gallery__btn--mobile {
  display: inline-block;
  margin-block-start: 8px;
}
@media (min-width: 75rem) {
  .gallery__btn--mobile {
    display: none;
  }
}

.gallery__grid {
  display: grid;
  row-gap: var(--sp-3);
}

.gallery__img-box {
  position: relative;
}

.gallery__img {
  width: 100%;
  max-height: 120px;
  object-fit: cover;
  object-position: top;
}

.gallery__img-title {
  --spacer-img-left: 20px;
  --spacer-img-bottom: 20px;
  position: absolute;
  left: var(--spacer-img-left);
  bottom: var(--spacer-img-bottom);
  color: var(--clr-white);
  text-transform: uppercase;
  text-align: left;
}
@media (min-width: 45rem) {
  .gallery__img-title {
    --spacer-img-left: 38px;
    --spacer-img-bottom: 20px;
  }
}
@media (min-width: 75rem) {
  .gallery__img-title {
    --spacer-img-left: 40px;
    --spacer-img-bottom: 32px;
  }
}

/*# sourceMappingURL=styles.css.map */
