@use "utils" as *;
@use "variables" as *;

body {
  font-family: var(--ff-main), sans-serif;
}

.no-scroll {
  overflow: hidden;
}

.flow-content > * + * {
  margin-top: var(--flow-spacer, var(--sp-3));
}

.split {
  display: flex;
}

.split > * {
  width: 100%;
}

.container {
  max-width: var(--desktop-container-width);
  margin-inline: auto;
}

.section {
  --flow-spacer: var(--sp-between-sections);
  @media (min-width: $bp-desktop) {
    --flow-spacer: var(--sp-between-section-desktop);
  }
  padding-inline: var(--sp-3);

  @media (min-width: $bp-tablet) {
    padding-inline: var(--sp-8);
  }
}

.section--header {
  padding-block-start: var(--sp-5);
  padding-block-end: var(--sp-5);

  @media (min-width: $bp-tablet) {
    padding-block-start: var(--sp-7);
    padding-block-end: var(--sp-7);
  }
}

.section--footer {
  background-color: var(--clr-primary);
}
