@use "utils" as *;
@use "variables" as *;

.footer {
  padding-block: var(--sp-7);

  display: grid;
  justify-items: center;

  & > *:nth-child(2) {
    margin-top: var(--sp-5);
  }

  & > *:nth-child(3) {
    margin-top: var(--sp-5);
  }

  & > *:nth-child(4) {
    margin-top: var(--sp-2);
  }

  @media (min-width: $bp-tablet) {
    padding-block: var(--sp-6);

    grid-template-columns: 1fr 1fr;
    row-gap: var(--sp-3);

    & > *:nth-child(2) {
      grid-column: 1;

      margin-top: 0;
    }

    & > *:nth-child(3) {
      grid-column: 2;
      grid-row: 1;

      margin-top: 0;
    }

    & > *:nth-child(4) {
      grid-column: 2;

      margin-top: 0;
    }
  }
}

.footer-nav__logo {
  display: inline-block;
}

.footer-nav__links {
  display: flex;
  flex-direction: column;

  gap: var(--sp-2);

  @media (min-width: $bp-tablet) {
    flex-direction: row;
  }
}

.link--footer {
  text-transform: capitalize;
}

.footer-social__links {
  display: flex;
  gap: var(--sp-2);
  justify-content: center;
  align-items: center;
}

.footer-social__rights {
  font-family: var(--ff-secondary);
  text-align: center;
  color: var(--clr-white);
  opacity: 0.5;
}
