@use "utils" as *;
@use "variables" as *;

.gallery {
  --flow-spacer: var(--sp-6);
  text-align: center;
}

.gallery__btn {
  display: none;
  justify-self: center;

  @media (min-width: $bp-desktop) {
    display: block;
  }

  &--mobile {
    display: inline-block;
    margin-block-start: 8px;

    @media (min-width: $bp-desktop) {
      display: none;
    }
  }
}

.gallery__grid {
  display: grid;
  row-gap: var(--sp-3);
}

.gallery__img-box {
  position: relative;
}

.gallery__img {
  width: 100%;
  max-height: 120px;

  object-fit: cover;
  object-position: top;
}

.gallery__img-title {
  --spacer-img-left: 20px;
  --spacer-img-bottom: 20px;

  position: absolute;
  left: var(--spacer-img-left);
  bottom: var(--spacer-img-bottom);

  color: var(--clr-white);
  text-transform: uppercase;
  text-align: left;

  @media (min-width: $bp-tablet) {
    --spacer-img-left: 38px;
    --spacer-img-bottom: 20px;
  }

  @media (min-width: $bp-desktop) {
    --spacer-img-left: 40px;
    --spacer-img-bottom: 32px;
  }
}
