@use "utils" as *;
@use "variables" as *;

.section--header {
  background-image: url(../../images/mobile/image-hero.jpg);
  background-size: cover;

  @media (min-width: $bp-tablet) {
    background-image: url(../../images/desktop/image-hero.jpg);
    background-position: center;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav--header {
  margin-block-end: #{toRem(163px)};

  @media (min-width: $bp-tablet) {
    margin-block-end: #{toRem(130px)};
  }
}

.logo {
  width: #{toRem(144px)};
  height: #{toRem(24px)};

  z-index: var(--z-index-nav-btns);

  @media (min-width: $bp-tablet) {
    width: #{toRem(192px)};
    height: #{toRem(32px)};
  }
}

.nav__links {
  position: fixed;
  padding-inline: var(--sp-3);
  padding-block-start: #{toRem(200px)};

  display: flex;
  flex-direction: column;
  gap: var(--sp-3);

  inset: 0;
  transform: translateX(100%);
  background-color: var(--clr-primary);
  z-index: var(--z-index-menu-mobile);

  transition: transform 0.3s ease-in;

  @media (min-width: $bp-tablet) {
    position: static;
    transform: translateX(0%);
    background-color: transparent;
    padding: 0;

    flex-direction: row;
  }
}

.nav[data-open="true"] .nav__links {
  transform: translateX(0%);
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-white);
  font-family: var(--ff-secondary);

  @media (min-width: $bp-tablet) {
    text-transform: capitalize;
    position: relative;

    &:hover::after {
      content: "";
      display: block;
      position: absolute;
      width: 24px;
      height: 2px;
      background-color: var(--clr-white);

      left: 50%;
      bottom: -8px;
      transform: translateX(-50%);
    }
  }
}

.nav__btn {
  display: block;
  z-index: var(--z-index-nav-btns);

  @media (min-width: $bp-tablet) {
    display: none;
  }
}

.banner {
  color: var(--clr-white);
  border: 1px solid var(--clr-white);
  max-width: #{toRem(650px)};

  padding-block: var(--sp-2);
  padding-inline: var(--sp-3);

  margin-block-end: #{toRem(227px)};

  @media (min-width: $bp-tablet) {
    padding: var(--sp-5);
    padding-block-end: var(--sp-3);

    margin-block-end: #{toRem(146px)};
  }
}
